header#main-header {
    height: 46px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        > img {
            width: 26px;
            height: 26px;
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    color: #667580;
                    font-weight: bold;
                    margin-left: 30px;

                    &:first-child {
                        margin-left: 0px;
                    }

                    img {
                        margin-right: 7px;
                    }
                }
            }
        }
    }

    div.right-side {
        display: flex;

        input {
            width: 220px;
            background: #F5F8FA;
            border: 1px solid #E6ECF0;
            height: 34px;
            padding: 0 40px 0 12px;
            border-radius: 16px;
            color: #667581;
            font-size: 12px;
            background: url('./images/search.svg') no-repeat 190px center;
        }

        img {
            height: 34px;
            width: 35px;
            border-radius: 50%;
            margin: 0 15px;
        }

        button {
            @include button-style(90px, 34px);
            background-color: $twitter-blue;
            color: #FFF;
            border: 0;
        }
    }
}