@import 'constants';
@import 'banner';
@import 'bar';
@import 'header';
@import './wrapper-content/wrapper-content';

$background: #E6ECF0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

button {
    cursor: pointer;
}

input, button {
    outline: 0;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}